#set ($String = "")
#set ($percentageScore = $reputationScore * 100)
#set ($scoreWithFormat = $String.format("%.2f%%", $percentageScore))
#if ($reputationScore >= $optimalThreshold)
<span style="font-weight: bold; color: green;">The reporter has a great reputation score! It is $scoreWithFormat.</span>
#elseif ($reputationScore < $optimalThreshold and $reputationScore >= $warningThreshold)
<span style="font-weight: bold; color: blue;">The reporter&apos;s reputation score is $scoreWithFormat</span>
#elseif ($reputationScore < $warningThreshold and $reputationScore > 0)
<span style="font-weight: bold; color: red;">The reporter has a low reputation score! It is $scoreWithFormat.</span>
#elseif ($reputationScore <= 0)
<span style="font-weight: bold; color: #ff4500;">The reporter has depleted his reputation score.</span>
#end
