#set ($String = "")
#set ($percentageScore = $reputationScore * 100)
#set ($scoreWithFormat = $String.format("%.2f%%", $percentageScore))
#if ($reputationScore >= $optimalThreshold)
<div style="margin: 10px 0px; padding:12px; color: #4F8A10; background-color: #DFF2BF;">
     The reporter has a great reputation score! It is $scoreWithFormat.
</div>
#elseif ($reputationScore < $optimalThreshold and $reputationScore >= $warningThreshold)
<div style="margin: 10px 0px; padding:12px; color: #00529B; background-color: #BDE5F8;">
    The reporter&apos;s reputation score is $scoreWithFormat
</div>
#elseif ($reputationScore < $warningThreshold and $reputationScore > 0)
<div style="margin: 10px 0px; padding:12px; color: #9F6000; background-color: #FEEFB3;">
     The reporter has a low reputation score! It is $scoreWithFormat.
</div>
#elseif ($reputationScore <= 0)
<div style="margin: 10px 0px; padding:12px; color: #D8000C; background-color: #FFBABA;">
   The reporter has depleted his reputation score.
</div>
#end
